<!DOCTYPE html>
<html>
    <head>
        <title>BEB SERVER ADMIN PANEL</title>
    </head>
    <body>
        <form action="/admin" method="post">
            <input type="checkbox" name="dangerous">
            <button type="submit">Save</button>
        </form>
    </body>
</html>