<!DOCTYPE html>
<html>
    <head>
        <title>
            beb Server Login
        </title>
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        <a href="/">go back</a><br></br>
        <button type="button" class="collapsible">
			not a secret
			<script src="script.js"></script>
		</button>
		<div class="content">
			<label for="password">password:</label>
			<form action="/login" method="post">
				<input type="text" id="password" name="login"/>
				<button type ="submit">Enter</button>
			</form>
		</div>
        <br></br>
        <%= output %>
    </body>
</html>