<!DOCTYPE html>
<html>
	<head>
		<title>beb server</title>
		<link rel="stylesheet" href="styles.css">
		
	</head>

	<body>
		<h1>BEB SERVER</h1>
		<p>Upon first visit, the terminal should only be able to echo what you type. You definitely shouldn't go to the link and figure stuff out so it becomes a full terminal.</p>
		<br>
		<br>
		<%= output %><br>
		<label for="txt">Enter your command</label>
		<form action="/" method="post">
		<input type="text"
		       id="txt"
		       name="cmd"
		       />
		<button type ="submit">Evaluate</button>
		</form>
		<a href="/hack">what this?</a>
	</body>
</html
