<!DOCTYPE html>
<html>
	<head>
		<title>beb server</title>
	</head>

	<body>
		<h1>BEB SERVER</h1>
		<%= output %><br>
		<label for="txt">Enter your command</label>
		<form action="/" method="post">
		<input type="text"
		       id="txt"
		       name="cmd"
		       />
		<button type ="submit">Evaluate</button>
		</form>
	</body>
</html
